*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.coffee-machine{
    height: 100vh;
    width: 100vw;
    background-color: rgb(205, 205, 255);
    display: flex;
    flex-direction: column;
}

.machine-working-area{
    display: flex;
    height: 90vh;
    width: 100vw;
}

.non-processing-area{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50vw;
    padding-top: 2%;
}

.user-input-area{
    display: flex;
    justify-content: space-between;
    border: 3px solid black;
    border-radius: 20px;
    height: 35%;
    width: 80%;
    margin: auto;
}

.quantity-required-input{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 5% 10%;
    border-radius: 10px;
}

.user-input-label{
    background-color: rgb(0, 0, 77);
    color: white;
    margin: 10%;
    width: 100px;
    padding: 10%;
    border-radius: 10px;
    text-align: center;
}

.input-knob-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:space-between;
    width: 50%;
    border: 3px solid black;
    border-radius: 10px;
    margin: 8%;
    background: rgba(202, 176, 255, 0.955);
}

.input-names{
    display: flex;
    padding: 5%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.input-btns{
    display: flex;
    justify-content: space-between;
    padding: 5%;
    width: 100%;
}

.knob-item{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.knob{
    background-color: navy;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 10px;
}

.level-storage-monitor{
    display: flex;
    width: 80%;
    height: 55%;
    margin: auto;
    border: 3px solid black;
    border-radius: 20px;
    padding: 3%;
}

.level-monitor-area{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.indv-level-area{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding: 1%;
}

.level-scale-area{
    display: flex;
    flex-direction: column;
}

.level-meter input{
    width: 100%;
}
.level-scale-sep{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.level-name{
    font-weight: bold;
}
.level-sep{
    font-size: smaller;
}

.large-sep{
    font-size: 1rem;
    font-weight: bold;
}

.scale-value{
    font-weight: bold;
    font-size: .9rem;
}

.level-scale-value-area{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1%;
}


.processing-area{
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 100%;
    padding: 3%;
}

.process-details{
    display: flex;
    height: max-content;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid black;
    border-radius: 25px;
}

.top-area{
    padding:5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.low-level-alert-area{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.low-level-alert-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.low-level-alert-name{
    font-weight: bold;
}

.low-level-alert-display{
    width: 5vw;
    height: 5vh;
    margin-right: 10%;
    border: 3px solid black;
    background: rgba(202, 176, 255, 0.955);
    /* background-color: red; */
}

.middle-area{
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

.current-intake-areas{
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 0 5%;
}

.current-intake-item{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.current-intake-level-area{
    display: flex;
    width: 100%;
    justify-content:space-between;
    align-items: end;
}

.current-intake-name{
    font-weight: bold;
}

.current-intake-scale{
    display: flex;
    justify-content: space-between;
}

.intake-scale-sep{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.current-intake-meter{
    background-color: white;
    height: 300px;
    width: 35px;
    margin-left: 10px;
    display: flex;
    flex-direction: column-reverse;
}

.current-intake-value{
    margin: 10%;
    height: 0;
    background-color: navy;
}

.process-state-area{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:30%;
}

.process-state-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.process-state{
    width: 5vw;
    height: 5vh;
    border: 3px solid black;
    background: rgba(202, 176, 255, 0.955);
}

.state-name{
    font-weight: bold;
}

.bottom-area{
    display: flex;
    justify-content: space-evenly;
    padding: 1% 5%;
}

.end-area{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.end-field{
    text-align: center;
    border: 3px solid black;
    background: rgba(202, 176, 255, 0.955);
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.machine-power{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 10vh;
    /* margin-top: -5%; */
}

.power-status{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    width: 5vw;
    border: 3px solid  black;
}


.process{
    background-color: yellow;
}

.disable{
    background-color: rgb(255, 255, 255);
}

.alert{
    background-color: red;
}

.on{
    background-color: green;
}