body{
    border: 2px solid blue;
    background-color: #cfd1d4;
    display: grid;
    padding: 10px;
    grid-template-areas: 
    "section-1 section-3"
    "section-2 section-3" ;
    grid-template-columns: 1fr 1.25fr;
    gap: 10px;
    height: 40rem;
}

section{
    background-color: #C9D1DD;
    border: 2px solid blue;
    border-radius: 5px ;
}

#section-one {
    grid-area: section-1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.checkbox{
    align-self: baseline;
}

#section-two{
    grid-area: section-2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
    font-size: 17px;
    gap: 40px;
}

#section-two input {
    width: 400px;
}

#chamber-dispenser-and-processes-container {
    display: flex;
}
#chamber,#dispenser {
    transform: rotate(270deg);
    position: relative;
    top: 70px;
    right: 35px;
}

.chamber-and-dispenser{
    position: relative;
    top: 130px;
    left: 25px;
}

#chamber-dispenser-and-processes-container > div > div {
    display: flex;
}
#section-three{
    grid-area: section-3;
    display: grid;
    align-items: center;
    justify-content: center;
}
#section-three *{
    padding: 10px;
}
.units-selection{
    color: white;
    background-color: #44546A;
    padding: 10px;
    margin: 10px;
    width: 75px;
    border: 5px solid #44546A;
}

#ingredient-selection{
    border: 2px solid blue;
    background-color: #bac1cc;
    display: flex;
    gap: 10px;
    padding: 20px;
}
#ingredient-selection input[name="beverage"]{
    /* color: blue;
    border: 0px; */
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    align-self: center;
}
#ingredient-selection > div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.empty-space{
    white-space: pre;
}

.indicator-leds {
    border: 2px solid blue;
    background-color: #8FAADC;
    width: 30px;
    height: 20px;
}

#low-indication-panel {
    display: flex;
    justify-content: center;
    /* flex-direction: column;
    align-items: center; */
}
#low-indication-panel > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chamber-dispenser-and-processes-container{
    display: flex;
}

#elasepd-time-total-cups{
    display: flex;
    justify-content: center;
}

.show-status{
    height: 20px;
    width: 30px;
    background-color: white;
    border: 2px solid blue;
}

#power-button{
    display: flex;
    width: 40px;
    height: 25px;
    background-color: rgb(105, 105, 236);
    justify-content: center;
    
}
#power-button > p{
    align-self: center;
    
}
body > div{
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}